.athlets {
  height: 960px;
  display: flex;
}
.top_athlets {
  min-height: 405px;
  font-family: OpenSansBold;
  margin-left: 50%;
}
.athlets .middle_sportsman{
  background: #f6f3fa;
  padding-left: 50%;
}
.athlets .footer_sportsman {
  background: #5e3db3;
  padding-left: 50%;
}
.footballer_athlets {
  position: absolute;
  margin-left: 272px;
  width: 724px;
  height: 1103px;
  background-image: url("../img/desktop/athlets.png");
  background-repeat: no-repeat;
}
.athlets .footer_sportsman .num_sportsman {
  color: #0a0e34;
}

