@import "fonts.css";

body {
  margin: 0;
  background-color: #fff;
  font-family: OpenSansRegular;
  box-sizing: border-box;
}
h2 {
  font-family: OpenSansBold;
}
img {
  width: 100%;
}
.google_play, .apple_logo {
  position: absolute;
}
.button {
  display: flex;
}
.logo_top {
  margin-top: auto;
  font-family: OpenSansRegular;
  letter-spacing: 0.7px;
}
.logo_bottom {
  margin-bottom: auto;
  font-family: OpenSansBold;
  letter-spacing: 0.7px;
}
.button_left, .button_right {
  fill: white;
  display: flex;
  flex-direction: column;
  border-radius: 2.86em;
  box-shadow: 0 1.4em 1.7em #0a0e34;
  background-color: #5e42b0;
}
.surface_logo_text {
  stroke: white;
  fill: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 961px) {
  /*.container {*/
    /*margin: 0 auto;*/
    /*max-width: 1920px;*/
  /*}*/
  .button {
    margin-top: 9%;
    min-height: 4vw;
    font-size: 0.7vw;
  }
  .button_left, .button_right {
    min-width: 16.2vw;
  }
  .apple_logo {
    padding-top: 0.57vw;
    padding-left: 1.97vw;
    height: 2.5vw;
    width: 2.1vw;
  }
  .google_play {
    padding-top: 0.72vw;
    margin-left: 2.97vw;
    width: 2vw;
    height: 2.6vw;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  /*.container {*/
    /*width: 100%;*/
  /*}*/
  .button {
    margin-top: 32.5%;
  }
  .button {
    font-size: 1.8vw;
    min-height: 5.5em;
  }
  .button_left, .button_right {
    min-width: 40.4vw;
  }
 .apple_logo {
    padding-left: 2.7em;
    padding-top: 1.14em;
    height: 3em;
    width: 2.57em;
  }
  .google_play {
    padding-top: 1.2em;
    margin-left: 4em;
    height: 3.2em;
    width: 2.9em;
  }
}

@media (min-width: 641px) {
  .button_left {
    margin-left: auto;
    margin-right: 3%;
  }
  .button_right {
    margin-right: auto;
  }
  .button_right .logo_bottom, .button_right .logo_top {
    margin-left: 38.7%;
    /*126*/
  }
  .button_left .logo_bottom, .button_left .logo_top {
    margin-left: 32.2%;
  }
}

@media (max-width: 640px) {
  /*.container {*/
    /*min-width: 320px;*/
  /*}*/
  .button {
    font-size: 2.5vw;
    flex-direction: column;
    margin-top: 81px;
  }
  .button_right, .button_left {
    min-height: 10.9vw;
    min-width: 97.1vw;
    margin: 0 auto;
  }
  .button_left {
    margin-bottom: 4.7vw;
  }
  .logo_bottom, .logo_top {
    margin-left: 38.1vw;
  }
  .apple_logo, .google_play {
    margin-top: 1.8vw;
    height: 7.5vw;
    margin-left: 25.6vw;
  }
  .apple_logo {
    width: 6.25vw;
  }
  .google_play {
    width: 6.875vw;
  }
}
