@font-face {
  font-family: OpenSansBold;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face-bold {
  font-family: OpenSansRegular;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
html{
  font-size: 100%;
}
body {
  margin: 0;
}
p {
  margin: 0;
}
h3 {
  margin: 0;
}

.apple_logo {
  position: absolute;
}
.google_play {
  position: absolute;
}

.button {
  display: flex;
  min-height: 77px;
}

#button_right .logo_bottom, #button_right .logo_top {
  margin-left: 126px;
}

#button_left .logo_bottom, #button_left .logo_top {
  margin-left: 105px;
}

.logo_top {
  margin-top: auto;
  font-family: OpenSansRegular;
  letter-spacing: 0.7px;
}
.logo_bottom {
  margin-bottom: auto;
  font-family: OpenSansBold;
  letter-spacing: 0.7px;
}
.button_logo {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  box-shadow: 0 16px 24px #0a0e34;
  background-color: #5e42b0;
}
@media (min-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 1920px;
  }
  .button_logo {
    width: 17%;
  }
  .button {
    font-size: 0.875rem;
    margin-top: 11.8%;
  }
  #button_left {
    margin-left: auto;
    margin-right: 3%;
  }
  #button_right {
    margin-right: auto;
  }
  .apple_logo {
    padding-left: 38px;
    padding-top: 11px;
    height: 48px;
    width: 42px;
  }
  .google_play {
    padding-top: 11px;
    margin-left: 57px;
    height: 50px;
    width: 40px;
  }

}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 100%;
  }
  .button_logo {
    width: 40.5%;
  }
  .button {
    font-size: 0.875rem;
    margin-top: 32.5%;
  }
  #button_left {
    margin-left: auto;
    margin-right: 3%;
  }
  #button_right {
    margin-right: auto;
  }
  .apple_logo {
    padding-left: 38px;
    padding-top: 11px;
    height: 48px;
    width: 42px;
  }
  .google_play {
    padding-top: 11px;
    margin-left: 57px;
    height: 50px;
    width: 40px;
  }

}
@media (max-width: 767px) {
  .container {
    min-width: 320px;
  }
  .button_logo {
    min-height: 35px;
    width: 87.5%;
  }
  .top_sport .button {
    font-size: 0.5rem;
    flex-direction: column;
    margin-top: 81px;
  }
  #button_right, #button_left {
    margin: 0 auto;
  }
  #button_left {
    margin-bottom: 15px;
  }

  #button_right .logo_bottom, #button_right .logo_top {
    margin-left: 122px;
  }
  #button_left .logo_bottom, #button_left .logo_top {
    margin-left: 122px;
  }
  .apple_logo {
    margin-left: 82px;
    margin-top: 3px;
    height: 24px;
    width: 20px;
  }
  .google_play {
    padding-top: 6px;
    margin-left: 82px;
    height: 24px;
    width: 22px;
  }

}
