body {
  margin: 0;
}
.profile {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1024px) {
  .top_sport {
    height: 100%;
    max-width: 1920px;
    max-height: 928px;
    margin: 0 auto;
    background-image: url("../img/desktop/top_sport.jpg");
  }
  .athlets {
    background-size: cover;
    background-image: url("../img/desktop/athlets.jpg");
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .home {
  }
}
@media (max-width: 767px) {
  .home {
  }
}

