.be_active_img {
  background-color: #e6f5fc;
}
.number {
  background: #5e42b0;
  color: #f5f6f7;
}

.number .num_sportsman {
  color: #f5f6f7;
}
.number .num_sportsman::after {
  background-color: #ffffff;
  opacity: 0.3;
}

.be_active_text p {
  color: #000000;
  font-family: OpenSansRegular;
  font-size: 1.5rem;
  font-weight: 400;
}
@media (min-width: 1024px) {
  .number {
    min-width: 168px;
    height: 155px;
    position: relative;
    margin-left: -84px;
    margin-top: 233px;
    display: flex;
    box-sizing: border-box;
  }
  .number .num_sportsman {
    margin: auto;
  }
  .number .num_sportsman::after {
    top: 30px;
    width: 100%;
  }
  .be_active {
    min-height: 730px;
    display: flex;
  }
  .be_active_preview {
    flex: none;
    max-width: 50%;
  }

  .be_active_img {
    width: 100%;
    height: 100%;
  }
  .be_active .title_main {
    padding-top: 260px;
  }
  .be_active_content {
    width: 50%;
    box-sizing: border-box;
  }
  .be_active_content p {
    max-width: 315px;
  }
  .find_contact_content {
    max-width: 380px;
  }
  .work_it_content {
    max-width: 500px;
  }

  .be_active_text {
    margin-left: auto;
    box-sizing: border-box;
    width: calc(50% - 84px);
    padding-left: 44px;
  }
  .be_active_text p {
    font-size: 1.5rem;
    line-height: 28px;
    letter-spacing: 1.2px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .number {
    width: 116px;
    height: 116px;
    position: absolute;
    margin-top: 500px;
    margin-left: 33px;
    display: flex;
  }
  .number .num_sportsman {
    margin-left: 44px;
    margin-top: 42px;
    font-size: 24px;
  }
  .number .num_sportsman::after {
    top: 30px;
    width: 22px;
    height: 5px;
  }
  .be_active_text {
    margin-left: 28px;
    min-height: 335px;
  }
  .be_active_text p {
    max-width: 595px;
    font-size: 1.5rem;
    line-height: 28px;
    letter-spacing: 1.2px;
  }
  .be_active_img {
    min-height: 586px;
    width: 100%;
  }
  .be_active .title_main {
    padding-top: 80px;
    padding-bottom: 37px;
  }
  .be_active {
    max-width: 100%;
    min-height: 730px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .be_active_img {
    width: 100%;
    min-height: 351px;
  }
  .be_active .title_main {
    padding-top: 80px;
    padding-bottom: 37px;
  }
  .be_active {
    max-width: 100%;
    min-height: 730px;
    display: flex;
    flex-direction: column;
  }
  .number {
    width: 70px;
    height: 70px;
    position: absolute;
    margin-top: 300px;
    margin-left: 33px;
    display: flex;
  }
  .number .num_sportsman {
    margin: auto;
    font-size: 14px;
  }
  .number .num_sportsman::after {
    top: 30px;
    width: 16px;
    height: 4px;
  }
  .be_active_text {
    margin-left: 28px;
    min-height: 335px;
  }
  .be_active_text p {
    font-size: 1rem;
    max-width: 250px;
    line-height: 20px;
    letter-spacing: 0.8px;
  }

}
