@media (min-width: 1024px) {
  #find_contact_num {
    position: absolute;
    margin-left: -865px;
  }
  #find_contact {
    flex-direction: row-reverse;
  }
}
@media (max-width: 767px) {
  .be_active {
  }
}
