@media (min-width: 961px) {
  #find_contact_num {
    left: 84px;
  }
  #find_contact {
    flex-direction: row-reverse;
  }
  #find_contact .be_active_text{
    margin: 0;
    box-sizing: border-box;
    padding-left: 193px;
  }
}
