footer {
  display: flex;
  flex-direction: column;
}
.footer_title {
  margin: 0;
  color: #ffffff;
}
.footer_surface {
  stroke: white;
  background-image: linear-gradient(to top, #50329c 0%, #5e3db3 51%, #7751db 100%);
}
.footer_surface:hover {
  background-image: linear-gradient(to bottom, #50329c 0%, #5e3db3 51%, #7751db 100%);
}

footer h4 {
  color: #a496ca;
  font-weight: 400;
}
@media (min-width: 961px) {
  footer {
    background-image: url("../../images/desktop/footer_sport.jpg");
  }
  .top_footer {
    padding-top: 11.9vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  footer .context {
    margin-left: -2em;
    padding-left: 4em;
    margin-top: 1.2rem;
  }
  .footer_title {
    font-weight: 700;
    line-height: 0.6em;
    letter-spacing: 0.05em;
  }
  .footer_surface {
    width: 8.125rem;
    height: 8.56rem;
    border-radius: 1.5rem;
    box-shadow: 0 2px 24px #0a0e34;
  }

  footer .surface_logo {
    width: 6rem;
    margin-top: 1.5em;
    margin-left: 1.1em;
    position: absolute;
  }
  footer .button {
    margin-top: 8.3vw;
  }
  footer h4 {
    position: absolute;
    font-size: 1.875rem;
    margin-top: 0.84rem;
  }
  footer .surface_logo_text {
    margin-top: 16rem;
    padding-bottom: 3.24rem;
    width: 11.9rem;
  }

}
@media (min-width: 641px) and (max-width: 960px) {
  footer {
    width: 100%;
    background-image: url("../../images/tablets/footer_sport.jpg");
  }
  .footer_title {
    font-weight: 400;
    line-height: 0.75em;
    letter-spacing: 0.05em;
  }
  .top_footer {
    margin: 0 auto;
  }
  footer .context {
    text-align: center;
  }
  footer .surface_logo {
    width: 12vw;
    margin: auto;
  }
  .footer_surface {
    margin-top: 16.4vw;
    margin-bottom: 10.7vw;
    width: 16.9vw;
    height: 17.8vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 5vw;
    box-shadow: 0 0.83vw 1.25vw #0a0e34;
  }
  footer .button {
    margin-top: 31.5vw;
  }
  footer h4 {
    font-size: 4.5vw;
    margin-top: 1.8vw;
  }
  .surface_logo_text {
    margin-top: 7.2vw;
    padding-bottom: 2.7vw;
    width: 24.9vw;
    height: 6.8vw;
  }

}
@media (max-width: 640px) {
  footer {
    background-image: url("../../images/mobile/footer_sport.jpg");
  }
  .footer_surface {
    width: 22.5vw;
    height: 23.1vw;
    margin-top: 30.9vw;
    margin-bottom: 15vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 3.78vw;
    box-shadow: 0 0.83vw 1.25vw #0a0e34;
  }
  footer .surface_logo {
    width: 15.6vw;
    height: 15.6vw;
    margin: auto;
  }
  footer .button {
    margin-top: 16.4vw;
  }
  footer .context {
    text-align: center;
  }
  .footer_title {
    font-size: 11vw;
     font-weight: 700;
    letter-spacing: 0.04vw;
  }
  .top_footer {
    margin: 0 auto;
  }
  footer h4 {
    margin-top: -3vw;
    font-size: 4.3vw;
  }
  .surface_logo_text {
    margin-top: 26.8vw;
    padding-bottom: 1.8vw;
    width: 41.7vw;
    height: 11.25vw;
  }
}
