.footer {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  text-transform: uppercase;
  background-size: cover;
  background-color: #0a0d34;
  background-repeat: no-repeat;
}
.text_footer {
  color: #ffffff;
  font-family: OpenSansBold;
  text-transform: uppercase;
}
.footer_surface {
  width: 130px;
  height: 137px;
  border-radius: 15px;
  box-shadow: 0 16px 24px #0a0e34;
  background-color: #5e42b0;
}
#download_text {
  color: #a496ca;
  font-family: OpenSansRegular;
  font-weight: 400;
  line-height: 34.49px;
  text-transform: uppercase;
  position: absolute;
}
@media (min-width: 1024px) {
  .footer {
    min-height: 960px;
    background-image: url("../../images/desktop/footer_sport.jpg");
  }
  .title_footer {
    padding-top: 229px;
    padding-left: 504px;
    display: flex;
  }
  .text_footer {
    margin-left: 37px;
    margin-top: 22px;
    font-size: 5rem;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 4.41px;
  }
  .footer .surface_logo {
    width: 80px;
    height: 80px;
    margin-left: 28px;
    margin-top: 28px;
    position: absolute;
  }
  .footer .button {
    margin-top: 7.8%;
  }
  #download_text {
    font-size: 1.875rem;
    margin-top: 20px;
  }
  .surface_logo_text {
    margin-top: 262px;
    width: 191px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
  }

}
@media (min-width: 768px) and (max-width: 1023px) {
  .footer {
    min-height: 960px;
    width: 100%;
    background-image: url("../../images/tablets/footer_sport.jpg");
  }
  .text_footer {
    font-size: 5rem;
    font-weight: 400;
    line-height: 60px;
  }
  .title_footer {
    margin: 0 auto;
  }

  .footer .surface_logo {
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .footer_surface {
    margin-top: 126px;
    margin-bottom: 82px;
    width: 130px;
    height: 137px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .footer .button {
    margin-top: 342px;
  }
  #download_text {
    font-size: 1.875rem;
    margin-top: 20px;
  }
  .surface_logo_text {
    margin-top: 55px;
    width: 191px;
    height: 52px;
    margin-left: auto;
    margin-right: auto;
  }

}
@media (max-width: 767px) {
  .footer {
    min-height: 568px;
    background-image: url("../../images/mobile/footer_sport.jpg");
  }
  .footer_surface {
    width: 72px;
    height: 74px;
    margin-top: 99px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .footer .surface_logo {
    width: 50px;
    height: 50px;
    margin: auto;
  }
  .footer .button {
    margin-top: 91px;
  }
  .text_footer {
    font-size: 2rem;
    font-weight: 700;
    letter-spasing: 1.6;
  }
  .title_footer {
    margin: 0 auto;
  }
  #download_text {
    font-size: 14px;
    margin-top: -8px;
  }
  .surface_logo_text {
    margin-top: 86px;
    margin-left: auto;
    margin-right: auto;
    width: 133px;
    height: 36px;
  }

}
