.motivation .number {
  box-sizing: border-box;
  background: #5e3db3;
  font-family: OpenSansBold;
  display: flex;
  color: white;
  text-align: center;
}
.motivation .number span {
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.motivation .number span::after {
  width: 80%;
  top: 38%;
  content: '';
  position: absolute;
  height: 0.2em;
  left: 10%;
  content: '';
  border-radius: 0.1em;
  background-color: #ffffff;
  opacity: 0.3;
}
.motivation .context h2 {
  color: #e7e7e7;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
}
.motivation .context p {
  margin-top: 0;
}

@media (min-width: 961px) {
  img {
    height: 100%;
  }
  .motivation {
    display: flex;
    position: relative;
  }
  .motivation .context,
  .motivation .img {
    flex-basis: 50%;
  }
  .motivation .number {
    position: absolute;
    top: 11vw;
    left: 45.7vw;
    width: 8.6vw;
    height: 8vw;
  }
  .motivation .number span {
    font-size: 1.25vw;
    margin-top: 2.6vw;
    margin-bottom: 1vw;
  }
  .motivation .context h2 {
    font-size: 4.17vw;
    margin-bottom: 4.5vw;
  }
  .motivation .context {
    padding-left: 6vw;
    padding-top: 7.8vw;
    box-sizing: border-box;
  }
  .motivation .context p {
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.25em;
    letter-spacing: 0.05em;
  }
  .motivation:nth-child(2) .context {
    padding-left: 9.5vw;
  }
  .motivation:nth-child(2) .img {
    order: 1;
  }
  .motivation:nth-child(1) .context p {
    max-width: 18vw;
  }
  .motivation:nth-child(2) .context p {
    max-width: 20vw;
    padding-right: 17.5vw;
  }
  .motivation:nth-child(3) .context p {
    max-width: 26vw;
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .motivation .number {
    position: absolute;
    margin-top: -10.4vw;
    margin-left: 4.3vw;
    height: 15.1vw;
    width: 15.1vw;
  }
  .motivation .number span {
    font-size: 3.125vw;
    margin-top: 4.6vw;
  }
  .motivation .context h2 {
    font-size: 10.4vw;
    margin-bottom: 0.05em;
    margin-top: 1.125em;
  }
  .motivation .context {
    margin-bottom: 9rem;
    margin-left: 3rem;
  }
  .motivation .context p {
    font-size: 3.125vw;
    letter-spacing: 0.04em;
  }
  .motivation:nth-child(1) .context p {
     max-width: 77vw;
  }
  .motivation:nth-child(2) .context p {
    max-width: 72vw;
  }
  .motivation:nth-child(3) .context p {
    max-width: 74vw;
  }
}

@media (max-width: 640px) {
  .motivation .number {
    position: absolute;
    margin-top: -18.6vw;
    margin-left: 6.25vw;
    height: 21.9vw;
    width: 21.9vw;
  }
  .motivation .number span {
    font-size: 4.3vw;
    margin-top: 6.8vw;
  }
  .motivation .context h2 {
    font-size: 8.75vw;
    margin-bottom: 0.05em;
    margin-top: 0.54em;
  }
  .motivation .context {
    margin-bottom: 2.75em;
    margin-left: 6.25vw;
  }
  .motivation .context p {
    font-size: 5vw;
    letter-spacing: 0.04em;
  }
  .motivation:nth-child(1) .context p {
     max-width: 72vw;
  }
  .motivation:nth-child(2) .context p {
    max-width: 75vw;
  }
  .motivation:nth-child(3) .context p {
    max-width: 75vw;
  }
}
