.top_sport {
  background-size: cover;
  background-color: #0a0d34;
  background-image: url("../img/desktop/top_sport.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 960px;
}

.apple_logo {
  position: absolute;
  padding-left: 20px;
  padding-top: 11px;
  height: 48px;
  width: 42px;
}
.button {
  display: flex;
  margin-top: 200px;
}
.google_logo_top {
  margin-left: 126px;
  margin-top: 13px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 34.49px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.google_logo_bottom {
  margin-top: -12px;
  color: #ffffff;
  margin-left: 126px;
  font-family: OpenSansBold;
  font-size: 14px;
  font-weight: 700;
  line-height: 34.49px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.apple_logo_top {
  margin-left: 105px;
  margin-top: 14px;
  color: #ffffff;
  font-family: OpenSansRegular;
  font-size: 14px;
  font-weight: 400;
  line-height: 34.49px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.apple_logo_bottom {
  margin-top: -12px;
  color: #ffffff;
  margin-left: 105px;
  font-family: OpenSansBold;
  font-size: 14px;
  font-weight: 700;
  line-height: 34.49px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.button_logo {
  width: 16%;
  height: 8%;
  border-radius: 40px;
  box-shadow: 0 16px 24px #0a0e34;
  background-color: #5e42b0;
}
#button_left {
  margin-left: auto;
  margin-right: 25px;
}
#button_right {
  margin-right: auto;
  margin-left: 25px;
}
.google_play {
  padding-top: 11px;
  position: absolute;
  margin-left: 57px;
  height: 50px;
  width: 40px;
}
.title {
  height: 67px;
  font-weight: 700;
  line-height: 100px;
  text-transform: uppercase;
  font-family: OpenSansBold;
  font-size: 90px;
  color: #ffffff;
}
.title-left {
  padding-top: 392px;
  padding-left: 191px;
  letter-spacing: 4.96px;
}
.title-right {
  letter-spacing: 4.5px;
  padding-left: 642px;
  margin-top: 27px;
}
.surface_logo {
  height: 52px;
  width: 191px;
  margin-left: 846px;
  margin-top: 45px;
  position: absolute;
}

