.top_athlets {
  font-family: OpenSansBold;
}
.athlets .middle_sportsman{
  background: #f6f3fa;
  min-height: 256px;
}
.athlets .footer_sportsman {
  background: #5e3db3;
}
.footballer_athlets {
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
}
.athlets .footer_sportsman .num_sportsman {
  color: #0a0e34;
}
@media (min-width: 1024px) {
  .footballer_athlets {
    z-index: 3;
    margin-top: -31px;
    margin-left: 273px;
    margin-right: 922px;
    width: 37.7%;
    height: 115.1%;
    max-height: 1105px;
    max-width: 725px;
    background-image: url("../../images/desktop/athlets.png");
  }
  .top_athlets {
    min-height: 405px;
    padding-left: 50%;
    box-sizing: border-box;
  }
  .athlets .middle_sportsman {
    padding-left: 50%;
    padding-top: 63px;
    padding-bottom: 58px;
    min-height: 256px;
    box-sizing: border-box;
  }
  .athlets .footer_sportsman {
    z-index: 2;
    position: relative;
    padding-left: 50%;
    padding-top: 91px;
    padding-bottom: 101px;
    min-height: 297px;
    box-sizing: border-box;
  }
  .athlets .middle_sportsman p {
    max-width: 625px;
  }
  .athlets .footer_sportsman p {
    max-width: 600px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .footballer_athlets {
    margin-top: 95px;
    margin-left: -162px;
    min-width: 497px;
    height: 699px;
    background-image: url("../../images/tablets/athlets.png");
  }
  .top_athlets {
    padding-left: 291px;
    min-height: 350px;
  }
  .athlets .middle_sportsman{
    padding-left: 291px;
    min-height: 235px;
  }
  .athlets .footer_sportsman {
    padding-left: 291px;
    min-height: 205px;
  }
  .athlets .middle_sportsman p {
    max-width: 375px;
  }
  .athlets .footer_sportsman p {
    max-width: 400px;
  }
  .athlets {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .athlets {
    flex-direction: column;
  }
  .footballer_athlets {
    margin-top: 80px;
    margin-left: 70px;
    min-width: 192px;
    height: 281px;
    background-image: url("../../images/mobile/athlets.png");
  }
  .top_athlets {
    margin-right: 32px;
    margin-left: 20px;
    min-height: 213px;
  }
  .top_athlets .title_main {
    margin-bottom: 300px;
  }
  .top_athlets p {
    padding-bottom: 51px;
  }

  .athlets .middle_sportsman {
    padding-left: 20px;
    min-height: 262px;
  }
  .athlets .footer_sportsman {
    padding-left: 20px;
    min-height: 208px;
  }
  .athlets .middle_sportsman p {
    padding-right: 52px;
  }
  .athlets .footer_sportsman p {
    padding-right: 66px;
  }

}
