.athlets .sportsman:nth-last-child(2) {
  background: rgba(94, 66, 176, 0.06);
}
.athlets .sportsman:nth-last-child(1) {
  background: #5e42b0;
}
.athlets .sportsman:nth-last-child(1) .number {
  color: #0a0e34;
}
.athlets .sportsman:nth-last-child(1) .number::after {
  background-color: #efefef;
}

@media (min-width: 961px) {
  .athlets img {
    margin-left: 14.2vw;
		top: -1vw;
    max-width: 37.8vw;
  }
  .athlets h2 {
		padding-left: 52.4vw;
  }
  .athlets .sportsman {
	  padding-left: 52.4vw;
  }
  .athlets p {
		max-width: 37.25vw;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .athlets img {
    margin-left: -21.1vw;
    top: 8.3vw;
    max-width: 64.7vw;
  }
  .athlets h2 {
	  padding-left: 37.9vw;
  }
  .athlets .sportsman {
	  padding-left: 37.9vw;
  }
  .athlets p {
		max-width: 49.7vw;
 	}
}
@media (max-width: 640px) {
	.sportsman:nth-last-child(3) {
		padding-top: 20.7vw;
    background-color: #fafafa;
	}
  .athlets img {
    margin-left: 21.9vw;
    top: 25vw;
    max-width: 60vw;
  }
 	.sportsman:nth-last-child(1) p,
	.sportsman:nth-last-child(2) p {
    max-width: 76.7vw;
 	}
	.sportsman:nth-last-child(3) p {
    max-width: 82.7vw;
	}
}

