.athlets .sportsman:nth-last-child(2) {
  background: rgba(94, 66, 176, 0.06);
}
.athlets .sportsman:nth-last-child(1) {
  background: #5e42b0;
}
.athlets .sportsman:nth-last-child(1) .number {
  color: #0a0e34;
}
.athlets .sportsman:nth-last-child(1) .number::after {
  background-color: #efefef;
}

@media (min-width: 961px) {
  .athlets img {
    right: 47vw;
    top: -1.9rem;
    max-width: 45.3rem;
  }
  .athlets .sportsman {
	  padding-left: 52.4vw;
  }
  .athlets p {
    margin-top: 0.05em;
    padding-right: 7.5vw;
  }
  .athlets .sportsman_parag_title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  .athlets .sportsman_title {
		padding-left: 53vw;
    margin-top: 1.2em;
    margin-bottom: 0;
  }

  .athlets p {
    padding-right: 20%;
  }
  .athlets .sportsman:nth-last-child(1) .sportsman_parag_title {
		margin-top: 2.8rem;
  }

  .athlets .sportsman:nth-last-child(1) p {
		margin-bottom: 4rem;
  }

}
@media (min-width: 641px) and (max-width: 960px) {
  .athlets img {
    right: 57vw;
    top: 12.5vw;
    max-width: 64vw;
  }
  .athlets .sportsman_title {
	  margin-bottom: -1.5vw;
	  margin-top: 7vw;
  }

  .athlets  {
    padding-top: 0.01vw;
  }

  .athlets .sportsman, .athlets .sportsman_title {
	  padding-left: 37vw;
  }
  .athlets p {
		max-width: 55vw;
 	}
  .athlets .sportsman:nth-last-child(1) {
		padding-top: 1.9vw;
  }

  .athlets .sportsman:nth-last-child(3) p {
		margin-bottom: 1.8rem;
  }

}
@media (max-width: 640px) {
  .player .sportsman {
    margin-top: 0;
  }
	.sportsman:nth-last-child(3) {
		padding-top: 11.7vw;
    background-color: #fafafa;
	}
  .athlets img {
    right: 19vw;
    top: 24.5vw;
    max-width: 60vw;
  }
 	.athlets .sportsman:nth-last-child(1) {
    margin-top: -5vw;
    padding-bottom: 7vw;
  }
 	.sportsman:nth-last-child(1) p,
	.sportsman:nth-last-child(2) p {
    max-width: 76.7vw;
 	}
	.sportsman:nth-last-child(3) p {
    max-width: 83.7vw;
	}
}

