header .container {
  display: flex;
  flex-direction: column;
}
h1 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 961px) {
  header .surface_logo_text {
    width: 9.9vw;
    min-height: 2.7vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.34vw;
  }
  h1 {
    margin-top: 15.36vw;
    font-size: 4.6vw;
    margin-left: 9.9vw;
  }
  h1 span {
    margin-top: -1.7vw;
    padding-left: 23.5vw;
  }
  header {
    position: relative;
    background-image: url("../../images/desktop/top_sport.jpg");
    z-index: 4;
  }
  header .button {
    padding-bottom: 5.7vw;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  header {
    background-image: url("../../images/tablets/top_sport.jpg");
  }
  header .surface_logo_text {
    min-height: 7.3vw;
    margin-top: 5.1vw;
    width: 26.7vw;
  }
  h1 {
    font-size: 8.3vw;
    margin-top: 23.6vw;
    padding-left: 11.7vw;
  }
  h1 span {
    letter-spacing: 0.05em;
    padding-left: 12vw;
    margin-top: 3.9vw;
  }
  header .button {
    padding-bottom: 11.8vw;
  }

}
@media (max-width: 640px) {
  header {
    /*min-height: 568px;*/
    background-image: url("../../images/mobile/top_sport.jpg");
  }
  header .surface_logo_text {
    min-height: 11.25vw;
    margin-top: 10.3vw;
    width: 41.6vw;
  }
  h1 {
    font-size: 8.75vw;
    line-height: 9.8vw;
    margin-top: 42.5vw;
    padding-left: 6.25vw;
  }
  h1 span {
    letter-spacing: 0.04em;
    padding-left: 13.75vw;
    margin-top: 4.7vw;
  }
  header .button {
    padding-bottom: 26.25vw;
  }
}
