header .container {
  display: flex;
  flex-direction: column;
}
h1 {
  display: flex;
  flex-direction: column;
}
@media (min-width: 961px) {
  header .surface_logo_text {
    width: 11.9rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.34%;
  }
  h1 {
    margin-top: 3.45em;
    font-size: 5.625rem;
    align-items: center;
    font-weight: 700;
  }
  .h1_left {
    margin-right: 9.2em;

    line-height: 31.32px;
    letter-spacing: 0.055em;
  }
  .h1_right {
    margin-top: 0.3em;
    margin-left: 5.2em;

    line-height: 100px;
    letter-spacing: 0.06em;
  }
  header {
    position: relative;
    background-image: url("../../images/desktop/top_sport.jpg");
    z-index: 4;
  }
  header .button {
    padding-bottom: 5.7vw;
    margin-left: 1.25em;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  header {
    background-image: url("../../images/tablets/top_sport.jpg");
  }
  header .surface_logo_text {
    height: 8vw;
    margin-left: 35vw;
    margin-top: 4.8vw;
    width: 26vw;
  }
  h1 {
    font-size: 8.3vw;
    margin-top: 17vw;
    padding-left: 11.7vw;
  }
  .h1_left {
    letter-spacing: 0.02em;
  }

  .h1_right {
    letter-spacing: 0.049em;
    line-height: 1.2em;
    padding-left: 13vw;
    margin-top: -1.3vw;
  }
  header .button {
    padding-bottom: 11.8vw;
  }

}
@media (max-width: 640px) {
  header {
    /*min-height: 568px;*/
    background-image: url("../../images/mobile/top_sport.jpg");
  }
  header .surface_logo_text {
    min-height: 11.25vw;
    margin-top: 10.3vw;
    width: 41.6vw;
  }
  h1 {
    font-size: 8.75vw;
    line-height: 9.8vw;
    margin-top: 39.5vw;
    padding-left: 6.25vw;
    letter-spacing: 0.04em;
  }
  .h1_right {
    letter-spacing: 0.04em;
    padding-left: 13.75vw;
    margin-top: 5.7vw;
  }
  header .button {
    padding-bottom: 26.25vw;
  }
}
