header .container {
  display: flex;
  flex-direction: column;
}
.header_title {
  display: flex;
  flex-direction: column;
}
@media (min-width: 961px) {
  header .surface_logo_text {
    width: 11.9rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.34%;
  }
  .header_title {
    margin-top: 2.98em;
    margin-right: auto;
    margin-left: auto;

    font-size: 5.625rem;
    font-weight: 700;
    max-width: 81.7%;
  }
  .title_left {
    margin-right: auto;
    letter-spacing: 0.055em;
  }
  .title_right {
    margin-top: -0.2em;
    margin-left: 5em;
    line-height: 100px;
    letter-spacing: 0.055em;
  }
  header {
    position: relative;
    background-image: url("../../images/desktop/top_sport.jpg");
    z-index: 4;
  }
  header .button {
    padding-bottom: 5.7vw;
    margin-left: 1.25em;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  header {
    background-image: url("../../images/tablets/top_sport.jpg");
  }
  header .surface_logo_text {
    height: 8vw;
    margin-left: 35vw;
    margin-top: 4.8vw;
    width: 26vw;
  }
  .header_title {
    margin-right: auto;
    margin-left: auto;
    font-size: 8.3vw;
    margin-top: 17vw;
    max-width: 81vw;
  }
  .title_left {
    letter-spacing: 0.068em;
  }

  .title_right {
    letter-spacing: 0.049em;
    line-height: 1.2em;
    margin-top: 0.62vw;
    margin-left: 16.2vw;
  }
  header .button {
    padding-bottom: 11.8vw;
  }

}
@media (max-width: 640px) {
  header {
    /*min-height: 568px;*/
    background-image: url("../../images/mobile/top_sport.jpg");
  }
  header .surface_logo_text {
    min-height: 11.25vw;
    margin-top: 10.3vw;
    width: 41.6vw;
  }
  .header_title {
    margin-right: auto;
    margin-left: auto;
    font-size: 8.75vw;
    line-height: 9.8vw;
    margin-top: 39.5vw;
    max-width: 88vw;
    letter-spacing: 0.04em;
  }
  .title_left {
    letter-spacing: 0.05em;
    margin-right: auto;
  }

  .title_right {
    margin-left: auto;
    letter-spacing: 0.04em;
    padding-left: 13.75vw;
    margin-top: 5.7vw;
  }
  header .button {
    padding-bottom: 26.25vw;
  }
}
