.players {
  min-height: 960px;
  display: flex;
  box-sizing: border-box;
  flex-direction: row-reverse;
}
.title_players {
  text-transform: uppercase;
  font-size: 5rem;
  color: #e6e6e6;
}
.top_players {
  min-height: 450px;
  background-size: 100%;
  padding-left: 16.9%;
}
.players .middle_sportsman{
  background: rgba(10, 14, 52, 0.04);
  min-height: 244px;
  padding-left: 16.9%;
}
.players .footer_sportsman {
  background-color: #0a0e34;
  padding-left: 16.9%;
  min-height: 270px;
}
.footballer_players {
  position: absolute;
  padding-right: 124px;
  width: 992px;
  height: 813px;
  background-image: url("../../images/desktop/players.png");
  background-repeat: no-repeat;
}
.players .footer_sportsman .num_sportsman {
  color: #9173e6;
}

