.player .sportsman:nth-last-child(2) {
  background: rgba(10, 14, 52, 0.04);
}
.player .sportsman:nth-last-child(1) {
  background: #090a36;
}
.player .sportsman:nth-last-child(1) .number {
  color: #9173e6;
}
.player .sportsman:nth-last-child(1) .number::after {
  background-color: #ffffff;
}

@media (min-width: 961px) {
  .player picture {
    position: absolute;
    margin-left: 50vw;
    top: -2%;
    width: 70%;
  }
  .player img {
    width: 61rem;
    margin-left: -10em;
  }
  .player h2 {
    margin-top: 1.1em;
    margin-bottom: 0.2em;
    margin-left: 17%;
    padding-right: 11.5em;
	}
  .player .sportsman {
    display: flex;
    flex-direction: column;
  }
  .player h3 {    
    margin-right: 5em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }
  .player p, .player h3 {
    padding-right: 56%;
    margin-left: auto;
    max-width: 24em;
  }
  .player .sportsman:nth-last-child(3) p {
    margin-bottom: 2em;
  }
  .player .sportsman:nth-last-child(2) p {
		margin-bottom: 2em;
  }
  .player .sportsman:nth-last-child(1) p {
		margin-bottom: 4rem;
  }
  .player .sportsman:nth-last-child(1) h3 {
		margin-top: 3rem;
  }
}
@media (min-width: 641px) and (max-width: 960px) {
  .player img {
    margin-left: 41vw;
    top: 4vw;
    max-width: 89.8vw;
  }
  .player .sportsman {
    padding-top: 2vw;
  }
  .player p {
    margin-bottom: 4vw;
		max-width: 44.5vw;
 	}
	.player h2, .player .sportsman {
  	padding-left: 4.4vw;
	}
  .player h2 {
	  margin-bottom: -3vw;
	  margin-top: 7vw;
  }
  .player .sportsman:nth-last-child(2) p {
		margin-bottom: 3.4em;
  }

  .player .sportsman:nth-last-child(1) p {
		margin-bottom: 2.56rem;
  }

}
@media (max-width: 640px) {
  .player img {
    margin-left: 0.9vw;
    top: 25.9vw;
    max-width: 94.3vw;
  }
  .player p {
    margin-bottom: 9vw;
		max-width: 44.5vw;
 	}
	.player h2 {
		margin-top: 2.6vw;
	}
  .player .sportsman {
    margin-top: 0;
  }
  .player .sportsman:nth-last-child(1) {
    margin-top: -9vw;
  }
}

