.top_sport {
  color: #ffffff;
  text-transform: uppercase;
  background-size: cover;
  background-color: #0a0d34;
  background-image: url("../../images/desktop/top_sport.jpg");
  background-repeat: no-repeat;
  min-height: 960px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.top_sport .surface_logo {
  min-height: 5.42%;
  margin-top: 45px;
  width: 9.95%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: flex;
  margin-top: 11.8%;/*200px*/
  min-height: 77px;
  font-size: 0.875rem;
}

.apple_logo {
  position: absolute;
  padding-left: 20px;
  padding-top: 11px;
  height: 48px;
  width: 42px;
}

.google_play {
  padding-top: 11px;
  position: absolute;
  margin-left: 57px;
  height: 50px;
  width: 40px;
}

#button_right .logo_bottom, #button_right .logo_top {
  margin-left: 126px;
}

#button_left .logo_bottom, #button_left .logo_top {
  margin-left: 105px;
}

.logo_top {
  margin-top: auto;
  font-family: OpenSansRegular;
  letter-spacing: 0.7px;
}
.logo_bottom {
  margin-bottom: auto;
  font-family: OpenSansBold;
  letter-spacing: 0.7px;
}

.button_logo {
  display: flex;
  flex-direction: column;
  width: 16%;
  border-radius: 40px;
  box-shadow: 0 16px 24px #0a0e34;
  background-color: #5e42b0;
}
#button_left {
  margin-left: auto;
  margin-right: 3%;
}
#button_right {
  margin-right: auto;
}

.title {
  height: 67px;
  font-weight: 700;
  line-height: 100px;
  font-family: OpenSansBold;
  font-size: 5.625rem;
}
#title-left {
  margin-top: 295px;
  padding-left: 191px;
  letter-spacing: 4.96px;
}
#title-right {
  letter-spacing: 4.5px;
  padding-left: 642px;
  margin-top: 27px;
}

