.top_sport {
  color: #ffffff;
  text-transform: uppercase;
  background-size: cover;
  background-color: #0a0d34;
  background-image: url("../../images/desktop/top_sport.jpg");
  background-repeat: no-repeat;
  min-height: 960px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.top_sport .surface_logo {
  min-height: 5.42%;
  margin-top: 45px;
  width: 9.95%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  height: 67px;
  font-weight: 700;
  line-height: 100px;
  font-family: OpenSansBold;
  font-size: 5.625rem;
}
#title-left {
  margin-top: 295px;
  padding-left: 191px;
  letter-spacing: 4.96px;
}
#title-right {
  letter-spacing: 4.5px;
  padding-left: 642px;
  margin-top: 27px;
}

